@{
    ViewData["Title"] = "Sobre";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<p>Desenvolvedor @ViewData["Desenvolvedor"].</p>

<address>
    <strong>Mais informações: </strong><a href="http://moacyr.epizy.com">Clique aqui</a>
</address>