@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>Informações de contato</h3>

<address>
    São josé do Rio Preto<br />
    <abbr>Phone: (21)98427-5948</abbr>
   
</address>

<address>
    <strong>Support:</strong> <a href="mailto:moacyrpereira10@hotmail.com">moacyrpereira10@hotmail.com</a><br />
    
</address>
